*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Gilroy";
    color: #fff;
}
html, body{
    height: 100%;
    width: 100%;

}
#main{
    height: 100%;
    width: 100%;
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

}
.desk{
    height: 70PX;
    width: 70px;
    background-color: white;
    border-radius: 14px;
    mix-blend-mode: difference;
    position: absolute;
    transition: all linear 0.2s;

}
h1{
    font-size: 9vw;
    font-weight: 600px;
}
